.card-section{
  text-align: center;
  margin-bottom: 40px;
}

.card-container{
  display: flex;
  gap: 24px;
}

.card{
  width: 322px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px #f1f4f8;
}
.card h3{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.card image{
  width: 100%;
  border-radius: 8px;

}
.card:hover{
  background-color:aqua;
}
.card p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}
.main-container{
 display: flex;
 gap: 25px;
 padding: 40px;
 align-items: center;
 font-size: 1.25em;
 border-radius: 15px;
 margin-top: 102px;
}
.main-container img{
  width: 500px;
 background: image;
 border-radius: 12px;
}
.menu{
  padding-top: 40px;
  list-style:url(./images/CheckCircle.png) ;
  padding-left: 25px;
}
.main-container p{
  color: #627382;
}
#about{
  padding-top: 122px;
    width: 1200px;
  text-align: center;
  padding-left: 40px
 
}
#about .section-heading{
  width: 100%;
  text-align: center;
  padding-left: 40px
  margin: 0 auto
  
}
.section-heading h3{
  width: 1000px;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 16px;
  text-align: center;
  margin-left: 120px
}
.section-heading p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 16px;
}
#about .section-heading button{
  background-color: #30B868;
  width: 194px;
  padding: 12px 16px;
  border-radius: 4px;
  color:#f1f4f8;
  padding-bottom: 16px;
  text-align: center;
}

.section-heading .purple{
  padding-bottom: 100px;
}
#footer-area{
  width: 1000px;
  margin: 120px 120px 30px 120px;
  background-color:var(--Style, rgba(0, 25, 49, 1));

}
.footer-container{
  display: flex;
  justify-content: space-around;
  padding: 24px;
  color: #f1f4f8;
}
.footer-container ul{
  width: 100%
  height: 64px;
  padding-right: 
  
}
 .footer-container p{
  text-align:center;
  color: #f1f4f8;
  padding-top: 60px;
 }