*{
  padding: 0;
  margin: 0;

}
body{
  max-width: 1340px;
  margin: 0 auto;
}
.nav-container{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav-container .nav-image{
  margin: 16px 120px;
  width: 140px;
  height: 60px;
}
.nav-container .nav-ul{
  display: flex;
  gap: 32px;
  list-style: none;
  width: auto 67px;
  height: auto 24px;
  font-weight: 500;
  font-size: 16px;
  padding: 34px;
}
.nav-container .btn{
  width: 164px;
  height: 44px;
  padding: 12px 16px;
  margin: 24px 120px;
  background-color: #30B868;
  color: #FFFFFF;
  border-radius: 4px
  ;
  font-size: 16px;
}
#hero-section .banner{
 text-align: center;
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
 margin-top: 115px;
 margin-bottom: 180px;
 background-image: url(/images/hero-bg.png);
 width: 1340px;
}

.hero-parent .btn2{
  background-color:rgba(255, 255, 255, 1);;
  padding: 8px;
  border-radius: 1000px;
  color: #30B868;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.hero-parent h2{
  width: 770px;
  font-size: 72px;
  font-weight: 700px;
  margin: 0 auto;
}
.hero-parent h3{
   width: 770px;
  font-size: 72px;
  font-weight: 700px;
  color: #30B868;
  margin: 0 auto;
}
.hero-parent p{
font-size: 18px;
font-weight: 400;
line-height: 22px;
}
.hero-parent .btn3{
  background-color: #30B868;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600px;
}
.hero-parent .btn4{
  padding: 16px 16px 16px 46px;
  width: 198px;
  border: 1px solid rgba(255, 255, 255, 1)
  ;
  background-image: url(/images/hero-bg.png);
  color: #FFFFFF;
  border-radius: 4px;

}